$background-color:rgb(31, 31, 31);
$primary: #199ed9;
$secondary: #d2791b;

$text-primary:rgba(211, 211, 211, 0.87);
$text-secondary:rgba(184, 184, 184, 0.6);
$text-muted:rgba(129, 129, 129, 0.18);

$separator-color: #c1c1c1;
$separator-background: #f1f1f1;
$success-color:#4caf50;
$error-color: #b71c1c;
$info-color:#2196f3;
$warning-color:#FFC107;

.serverless-bbs{
  --bbs-background-color: #{$background-color};
  --bbs-primary: #{$primary};
  --bbs-secondary: #{$secondary};
  --bbs-text-primary: #{$text-primary};
  --bbs-text-secondary: #{$text-secondary};
  --bbs-text-muted: #{$text-muted};
  --bbs-separator-color: #{$separator-color};
  --bbs-separator-background: #{$separator-background};
  --bbs-success-color: #{$success-color};
  --bbs-error-color: #{$error-color};
  --bbs-info-color: #{$info-color};
  --bbs-warning-color: #{$warning-color};
}
body{
  min-height:100vh;
  background-color: $background-color;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.serverless-bbs{
  color:var(--bbs-text-primary);
  a{
    position: relative;
    text-decoration: none;
    color:var(--bbs-info-color);
    &:hover{
      color:var(--bbs-primary)
    }
  }

  //a:hover::before {
  //  content:'';
  //  width: 100%;
  //  left: 0;
  //  right: auto;
  //}
  //
  //a::before {
  //  content: '';
  //  position: absolute;
  //  width: 0;
  //  right: 0;
  //  bottom: 0;
  //  height: 1px;
  //  background: var(--bbs-primary);
  //  transition: width .3s ease;
  //}

  .position-relative{
    position:relative;
  }

  .position-absolute{
    position:absolute;
  }

  .text-md{
    font-size: 1rem;
  }
  .text-sm{
    font-size:0.8rem;
  }
  .text-left{
    text-align:left;
  }
  .text-center{
    text-align:center;
  }
  .text-right{
    text-align:right;
  }

  .text-secondary{
    color:var(--bbs-text-secondary)
  }

  .text-muted{
    color:var(--bbs-text-muted)
  }

  //.bbs-cus-fieldset-focus{
  //  border-color:inherit !important;
  //}

  .p-4{
    padding:16px;
  }
  .pl-1{
    padding-left:4px;
  }
  .pl-2{
    padding-left:8px;
  }

  .mt-2{
    margin-top:8px;
  }
  .mr-2{
    margin-right:8px;
  }

  .mr-4{
    margin-right:16px;
  }

  .highlight-ele{
    background-color: var(--bbs-primary) !important;
    color:#fff;
    *{
      background-color: var(--bbs-primary) !important;
      color:#fff;
    }
  }

  .btn{
    text-align: center;
    color: #000;
    border: 1px solid var(--bbs-separator-color);
    border-radius: 4px;
    display: inline-block;
    background: #ccc;
    margin-bottom: 0;
    font-weight: normal;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
    padding: 8px 16px;
    letter-spacing: 1.25px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    min-width:64px;
    height:36px;
  }
  .info-color{
    background-color: var(--bbs-info-color);
    color: #fff;
  }
}

